In [1]:
import pandas as pd
import numpy as np

In [65]:
d = pd.DataFrame()
for i in range(5):
    d_ = pd.read_csv('./Results/LTR_k5_3_{}.txt'.format(i),sep=' ',header=None)
    d_.drop(columns=[3],inplace=True)
    d = pd.concat([d,d_])

In [66]:
d.head()

   0   1               2         4           5
0  1  Q0  table-0875-680  0.000000  smarttable
1  1  Q0  table-0037-411  0.000000  smarttable
2  1  Q0  table-0216-976  0.000000  smarttable
3  1  Q0  table-0389-400  0.000000  smarttable
4  1  Q0  table-0552-511  0.666667  smarttable

In [67]:
d_sorted = d.sort_values(by=[0,4], ascending=[True,False])

In [68]:
d_s_f = pd.DataFrame()
for i in range(1,61):
    d_s_f = pd.concat([d_s_f, d_sorted[d_sorted[0] == i].iloc[:20]])

In [69]:
l = []
for i in range(60):
    for j in range(1,21):
        l.append(j)
d_s_f[3] = l

In [70]:
d_s_f = d_s_f[list(range(6))]

In [71]:
d_s_f.head()

    0   1               2  3    4           5
0   1  Q0  table-0255-236  1  1.0  smarttable
1   1  Q0  table-1042-895  2  1.0  smarttable
5   1  Q0  table-0554-923  3  1.0  smarttable
15  1  Q0  table-0914-103  4  1.0  smarttable
3   1  Q0  table-0370-614  5  1.0  smarttable

In [72]:
d_s_f.to_csv('./Results/LTR_k5_3_total.txt'.format(i), sep=' ', index=False, header=False)

In [73]:
!./trec_eval/trec_eval -m ndcg_cut.5,10,15,20 ./Results/qrels.txt ./Results/LTR_k5_3_total.txt

ndcg_cut_5            	all	0.5223
ndcg_cut_10           	all	0.5422
ndcg_cut_15           	all	0.5711
ndcg_cut_20           	all	0.5915