In [1]:
import pandas as pd
import numpy as np
import multiprocessing
from pandarallel import pandarallel

In [2]:
pandarallel.initialize(progress_bar=True,nb_workers=15)

WARNING: Progress bar is an experimental feature. This can lead to a considerable performance loss.

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

New pandarallel memory created - Size: 2000 MB
Pandarallel will run on 15 workers

In [3]:
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [22]:
def convert2txt(path):
    d = []
    with open(path) as file:
        for i,line in enumerate(file):
                d.append(line)
    return d

In [24]:
a = convert2txt('./category_labels_en.ttl')

In [26]:
with open('./category_labels_en.txt', 'w') as f:
    for item in a:
        f.write("%s" % item)

In [70]:
d = pd.read_csv('./category_labels_en.txt', header=None, delimiter="\t")

In [78]:
d_ = d[0].str.split(' ', expand=True)
d_ = d_.iloc[1:-1,0]
d_ = pd.DataFrame(d_)

In [87]:
d_[1] = d_[0].parallel_apply(lambda x: x.split("Category:")[-1][:-1])

In [88]:
d_.head()

                                                   0                       1
1    <http://dbpedia.org/resource/Category:Futurama>                Futurama
2  <http://dbpedia.org/resource/Category:World_Wa...            World_War_II
3  <http://dbpedia.org/resource/Category:Programm...   Programming_languages
4  <http://dbpedia.org/resource/Category:Professi...  Professional_wrestling
5     <http://dbpedia.org/resource/Category:Algebra>                 Algebra

In [95]:
d_.head()

                                                   0                       1
1    <http://dbpedia.org/resource/Category:Futurama>                Futurama
2  <http://dbpedia.org/resource/Category:World_Wa...            World_War_II
3  <http://dbpedia.org/resource/Category:Programm...   Programming_languages
4  <http://dbpedia.org/resource/Category:Professi...  Professional_wrestling
5     <http://dbpedia.org/resource/Category:Algebra>                 Algebra

In [96]:
d_.to_csv('./list_category_labels.csv',index=None)

In [91]:
with open('./list_category_labels.txt', 'w') as f:
    for item in d_[1]:
        f.write("%s\n" % item)